{% extends "layout.html" %}

{% block main_content %}
    <section class="habit-list">
        {% for habit in habits %}
        {% set completed = habit["_id"] in completions %}
            {% if completed %}
            <div class="habit completed">
                <p class="font_track">
                    {{ habit["name"] }}
                </p>
                <svg class="ico_check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
                </svg>
            </div>
            {% else %}
            <div class="habit">
                <form method="post" class="habit__form" action="{{ url_for('habits.complete') }}">
                    <input type="hidden" name="habitId" value="{{ habit['_id'] }}">
                    <input type="hidden" name="date" value="{{ selected_date }}">
                    <button type="submit" class="habit__button">
                        {{ habit["name"] }}
                    </button>
                </form>
            </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}